.language-selector-wpml-custom {
    display: inline-block;
    margin-top: 4px;
}
.language-selector-wpml-custom .missing{
    opacity: 0.2;
}
.language-selector-wpml-custom li{
    display: inline;
}
.language-selector-wpml-custom ul{
    list-style: none;
    margin: 0;
}
.language-selector-wpml-custom img{
    height: 22px;
}