#modal_featured{
    padding-top: 20px;
}
#modal_featured .modal-body h4{
    font-size:25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#modal_featured .modal-title{
    font-size:30px;
}
#modal_featured .modal-header{
    font-size: 18px;
}
#modal_featured .modal-content{
    margin-top:150px;
}
.loader-block-UI{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.reset-rules #pswd_info{
    margin-top: 20px;
}
