.language-selector-wpml-custom {
    display: inline-block;
    margin-top: 6px;
    margin-right: 10px;
}
.language-selector-wpml-custom .missing{
    opacity: 0.2;
}
.language-selector-wpml-custom li{
    display: inline;
}
.language-selector-wpml-custom ul{
    list-style: none;
}